/* CSS FOR CHANGING THE BACKGROUND COLOR*/
		body {
      animation: myanimation 60s infinite;
}

@keyframes myanimation {
  0% {background:linear-gradient( to top, #fff 20%,#89CFF0 80%);}
  25%{background: linear-gradient( to bottom, #fff 20%,#ADD8E6 80%);}
  50%{background:linear-gradient( to right, #fff 20%,#dee4ff 80%);}
  75%{background: linear-gradient( to left, #fff 20%,lightgreen 80%);}
  100% {background: linear-gradient( to left, #fff 20%,#ffd1dc 80%);}
}
/*END HERES*/


/*CSS FOR IMAGE AND WRITING ON IT*/
		.post-container {
    margin: 20px 20px 0 0;  
        overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {

    margin-left: 210px
}
.post-title {

    font-weight: bold;
    font-size: 200%
}


		
		.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
	font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*ENDS HERE*/
/* CSS for navigation bar and underlining effect*/		
		.navbar{
		
			border-radius: 20px;
			
		}
		.navbar li{
			float: right;
			list-style: none;
			margin: 14px 24px;
			
		}
		.navbar ul{
			overflow: auto;
		}
		.navbar li a{
			font-size: 20px;
			
			color: black;
			text-decoration: none;

  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
   position: relative;
  
  display: inline-block;
  padding: 5px 10px;
  
		}
		.navbar a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;

  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover:after { 
  width: 100%; 
  left: 0; 
}

		.SEARCH {
			float: right;
			color:white;
			padding: 13px;
			
			
		}
		#login{
			font-size: 20px;
			text-decoration:none;
			color: black;
		}
		#text{
		  text-align: right;
		  padding: 13px;
		  
		}
		.logo {
			float: left;
			height: 100px;
			width: 100px;
  border-radius: 50%;
}
/*ENDS HERE*/